* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #151616;
    --ligth: white;
    --border-color: rgb(151, 151, 151);
    --border-highlight-color: rgb(142, 130, 255);
    --highlight-color: rgb(142, 130, 255);
    --fill-color: white;

    --ultra-ligth: white;
    --ligth-dark: #151616;
    --opposite: #151616;
    --dark-ligth: white;

}


body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--dark);
    color: var(--ligth);  
   
    

}

body.light {
    background: var(--ligth);
    color: var(--dark);  
    --border-color: #151616;
    --border-highlight-color: rgb(58, 192, 91);
    --highlight-color: rgb(58, 192, 91);
    --fill-color: #151616;
    --opposite: rgb(231, 230, 230);
    --dark-ligth: #151616;
}


.table {
    color: inherit;
    width: 75rem;
}



.tournaments_card_body {
    /* border: 1px solid var(--ligth-dark);
    border-top: 0px; */
    border-top: 1px solid var(--border-color);
}

section {
    min-height: 100vh;
    
}

.tournaments_section {
    min-height: 85vh;
}

.home_div {
    min-height: 100vh;
    text-align: center;
}

.form_button_div {
    margin-left: 15%;
    width: 15rem;
}


.search_input {
    background-color: inherit;
    border-color: var(--border-color);
    color: inherit;
}

.search_input:focus {
    background-color: inherit;
    border-color: var(--border-highlight-color);
    color: inherit; 
}

.card_profile_form {

}

.scrool_div {
    background: inherit;
    height: 1px;
}

.tournament_card {
    background: inherit;    
    border: none;
    /* border: 1px solid var(--border-color); */
    /* border-bottom: 1px solid var(--ligth-dark); */
}

.card {
    background-color: inherit;
}

.tournament_card:hover {
    color: var(--dark-ligth);
    /* color: var(--highlight-color) !important;  */
    box-shadow: 0 .5rem 1rem rgb(99, 98, 98);
    /* border: 1px solid var(--border-highlight-color); */
}


.my_log_input {
    background: var(--dark);
    color: var(--dark-font-color) !important;
    border-color: var(--green);
    outline:var(--green);   
}

a {
    color: var(--dark-ligth);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color); 
}

.log_div {
    width: 25%;
}

.my_log_input:focus {
    background: var(--ligth-dark);
    color: var(--dark-font-color) !important;
    border-color: var(--green);
    outline:var(--green);
}

.profile-container {
    

}

.profile-icon {

    width: 100px;
    height: 100px;
}

.my_input {
    background: inherit;
    color: inherit;
    border-color: var(--border-color) !important;
    outline:var(--border-color) !important;
}

.tools {
    text-align: right;
}

.toolsSvg {
    display: block;
    fill: red;
    background: inherit;
    border: none;
} 

.toolsSvg:hover {
    fill: var(--dark-ligth-green);  
}


.my_input:focus {
    background: inherit;
    color: inherit;
    border-color: var(--border-color) !important;
    outline:var(--border-color) !important;
}

.my_accordion_body {
    background: inherit !important;
}

.my_accordion_body button {
    color: inherit !important;
    background: inherit !important;
    box-shadow: none !important;
    border-color:var(--green) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    border-color:var(--green) !important;
}

.accordion-item {
    background: inherit;
    border: 1px solid var(--ligth);
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tournament_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26rem;
    height: 26rem;
    text-align: center;
}

[data-tooltip] {
    position: relative; 
   }

[data-tooltip]::after {
    content: attr(data-tooltip); 
    position: absolute; 
    left: 0; top: 0; 
    color: inherit;
    font-size: 0.75em;
    pointer-events: none; 
    opacity: 0; 
    transition: 1s;  
} 

[data-tooltip]:hover::after {
    opacity: 1; 
    top: 3em; 
}

.myModalHeader {
    background: inherit;
    border-bottom: 1px solid var(--border-color);
}

.myModalBody{
    background: inherit;
}

.full {
    background: red;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

  
.fullscreen-enabled {
    background: var(--opposite);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

.my_svg{
    fill: var(--fill-color)
}



.my_ckeckbox {
    box-shadow: none !important;
    border-color: var(--border-color) !important;
    accent-color: var(--opposite) !important;
    filter: brightness(40%);
}


.my_ckeckbox:checked {
    background-color: inherit;
    border-color: var(--border-color);
}

/* .fullscreen-enabled .react-transform-component {
   width: 90%;
   height: 100%;
} 

.fullscreen-enabled .react-transform-wrapper {
    width: 90%;
    height: 100%;
}  */